{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
    
    <label class="switch">
        <input type="checkbox" id="toggle" onchange="toggleSwitch(this)" {% if session.show_games %}checked{% endif %}>
        <span class="slider"></span>
        <p id="switchText">Games</p>
    </label>
   
     <section id="search">
        <form action="/search" method="get">
            <label>
                Search for...
                <input type="search" name="q" value="{{search_term}}">
            </label>
            <label>
            Sort By:
                <select name="sortby">
                    <option value="1" {{ 'selected' if sort_term == '1' }}>Newest</option>
                    <option value="0" {{ 'selected' if sort_term == '0' }}>Alphabetical</option>
                    <option value="2" {{ 'selected' if sort_term == '2' }}>Oldest</option>
                </select>
            </label>
            <button>Search</button>
        </form>
    </section>
    
    <section id="posts">
        {% for post in posts %}
            {% if allgames | selectattr("developer_id", "equalto", post.user_id) | list %}
                <div class="post" onclick="window.location.href= '/post/{{post.id}}'">
                    <header>
                        <h3>{{ post.title }}</h3>
                    </header>
                    <a href="/user/profile/{{post.user_id}}">{{ post.username }}</a>
                    <p>{{ post.type.upper() }}</p>
                    <p>{{ post.name }}</p>
                    <p>{{ post.timestamp }}</p>
                    <p>{{ allposts | selectattr("parent_id", "equalto", post.id) | list | length }} Comments</p>
                    <p>{{ likes | selectattr("post_id", "equalto", post.id) | list | length }} Likes</p>
                    <p class="truncate-paragraph">{{ post.content }}</p>
                </div>
            {% endif %}
        {% else %}
            <p>No posts!</p>
        {% endfor %}
    </section>
    <section id="games">
        {% for game in games %}
            {# <div class="game" onclick="window.location.href= '/game/{{game.id}}'" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/uploads/{{ game.image_name }}');"> #}
                <div class="game" onclick="window.location.href= '/game/{{game.id}}'">
                <header>
                    <h3>{{ game.name }}</h3>
                </header>
                <a href="/user/profile/{{game.developer_id}}">{{ game.username | paragraphs }}</a>
                <p>{{ followed_games | selectattr("game_id", "equalto", game.id) | list | length }} following</p>
                {% if session.logged_in %}    
                    {% if (session.user.user_id, game.id) in followed_pairs %}
                        <a href="/game/{{game.id}}/unfollow"><button>- Unfollow</button></a>
                    {% else %}
                        <a href="/game/{{game.id}}/follow"><button>+ Follow</button></a>
                    {% endif %} 
                {% endif %}
                <img src="/static/uploads/{{ game.image_name }}">
            </div>
        {% else %}
            <p>No games!</p>
        {% endfor %}
    </section>

{% endblock %}

