{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
    <header>
        <p>{{ post.type.upper() }}</p>
        <p>{{ post.timestamp }}</p>
        <p>{{ post.name }}</p>
        <a href="/user/profile/{{post.user_id}}">{{post.username}}</a>
        <h1>{{ post.title }}</h3>
        <p>{{ allposts | selectattr("parent_id", "equalto", post.id) | list | length }} Comments</p>
        <p>{{ likes | selectattr("post_id", "equalto", post.id) | list | length }} Likes</p>
    </header>

    {% for image in media %}
        <img src="/static/uploads/{{image.image_file}}" alt="{{image.image_file}}">
    {% endfor %}
    <p>{{ post.content }}</p>
    <h3>Comments:</h3>
    <section id="posts">
        {% for comment in comments %}
            <div class="post">
                <img src="/static/uploads/{{comment.profile_image}}" alt="{{comment.username}}'s profile image">
                <a href="/user/profile/{{comment.user_id}}">{{ comment.username }}</a>
                <p>{{comment.content}}</p>
            </div>
            
        {% endfor %}
    </section>
    
{% endblock %}

