{#=====================================================
  Home page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}
    {% if user.is_developer == 1 %}
        <h2>Developer Profile</h2>
    {% else %}
        {% if session.logged_in and user.id == session.user.user_id%}
            <h2>Your Profile</h2>
        {% endif %}
    {%endif%}

    <img src="/static/uploads/{{user.profile_image}}" alt="{{user.username}}'s profile image">
    <h1>{{user.username}}</h1>
    <p>{{user.bio}}</p>

    {% for game in games %}
        {% if (user.id, game.id) in liked_pairs %}
            <div class="game">
                <header>
                    <h3>{{ game.name }}</h3>
                </header>
                <p>{{ game.username | paragraphs }}</p>
                <p>{{ followed_games | selectattr("game_id", "equalto", game.id) | list | length }} following</p>
                <img src="/static/uploads/{{game.image_name}}" alt="Hero Image of {{game.name}}">
            </div>
        {%endif%}
    {% else %}
            <p>No games!</p>
    {% endfor %}
{% endblock %}

