/*===========================================================
  PROJECT NAME HERE
  By YOUR NAME HERE
===========================================================*/

:root {
    --text-col:         #111;

    --back-col:         #eee;
    --back-col-panel:   #929292;

    --border-col:       #355;

    --accent-col:       #e43;
}


/* Overall Layout -----------------------------------------------*/

html {
    background-color: var(--back-col);
    color: var(--text-col);

    font-family: system-ui, sans-serif;
}


body {
    min-height: 100dvh;
}


main {
    max-width: 60rem;
    margin-inline: auto;
    padding: 1rem;
}



/* Header & Nav -----------------------------------------------*/

body > header {
    display: flex;
    position: fixed;
    width:100vw;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #929292;

    nav {
        display: flex;
        gap: 1rem;
        

        a {
            color: var(--accent-col);
        }
    }
}

#page_content{
    margin-top: 3rem;
}

.menu{
    display: none;
    position: fixed;
    top: 30px; 
    right:0px;
    flex-direction: column;
    padding: 1rem;
    margin: 2rem;
    box-shadow: 0 0.5rem 1rem #0004;
    border: 1px solid var(--border-col);
    background-color: var(--back-col-panel);
}

.truncate-paragraph {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Change this number to your desired line count */
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }
/* Page Headings -----------------------------------------------*/

main > h2 {
    font-size: 2rem;
    text-align: center;
    margin-block: 2rem;
}


/* Home --------------------------------------------------*/

#games {
    gap: 2rem;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;

    .game {
        padding: 1rem;
        margin: 2rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 1px solid var(--border-col);
        background-color: var(--back-col-panel);

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        footer {
            font-size: 0.8rem;
            font-style: italic;
        }

        &.pinned {
            border-color: var(--accent-col);
        }
    }
}

#posts {
    display: none; /* hidden by default */
    gap: 2rem;
    margin: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
    align-items: start;

    .post {
        padding: 1rem;
        margin: 2rem;
        box-shadow: 0 0.5rem 1rem #0004;
        border: 1px solid var(--border-col);
        background-color: var(--back-col-panel);
        

        header {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        footer {
            font-size: 0.8rem;
            font-style: italic;
        }

        &.pinned {
            border-color: var(--accent-col);
        }
    }
}

.switch{
    display: flex;
}
